RAILS_ENV=development
RAILS_LOG_TO_STDOUT=1
WJR_HOST=localhost:3000
WJR_CORE_URL=http://localhost:3000
WJR_GOOGLE_MAPS_API_KEY=
WJR_FLICKR_API_KEY=
WJR_PASSWORD_SALT=
WJR_SECRET_TOKEN=secret-token
WJR_SECRET_BASE=secret-base
WJR_DEVISE_SECRET_KEY=generate-with-bin-rails-secret-and-keep-out-of-git
WJR_FACEBOOK_APP_ID=
WJR_FACEBOOK_APP_SECRET=
WJR_GOOGLE_APP_ID=
WJR_GOOGLE_APP_SECRET=
WJR_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
WJR_RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
WJR_SMTP_ADDRESS=
WJR_SMTP_DOMAIN=
WJR_SMTP_USER_NAME=
WJR_SMTP_PASSWORD=
WJR_DATA_FOLDER=/tmp/whyjustrun-data/
WJR_DATA_URL=file:///tmp/whyjustrun-data/
WJR_LOG_EMAILS=