<div class="form-group">
  <%= f.label :email, :class => 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= f.email_field :email, :class => 'form-control', :required => true %>
  </div>
</div>
