<h2>Accounts</h2>

<p>Linking your WhyJustRun account with other services allows you to quickly sign in to your WhyJustRun account without having to remembering another password.</p>
<%
ids = Settings.linkableAccounts
ids.each { |id, data|
  if user[id].nil?
    authorize_url = case data.provider 
    when "google_oauth2" then user_google_oauth2_omniauth_authorize_path
    when "facebook" then user_facebook_omniauth_authorize_path
    end    
%>

<div class="btn-group">
  <%= link_to "Link #{data[:name]} account", authorize_url, method: :post, :class => "btn btn-success" %>
</div>
<br /><br />
<%
  else
%>
<div class="btn-group">
  <a href="/users/unlink_account/<%= data.provider.to_s %>" class="btn btn-danger">
    Unlink <%= data[:name] %> account
  </a>
</div>
<br /><br />
<%
  end
}
%>
