<h2>Send message</h2>
<% if user_signed_in? then %>
  <p>Temporarily unavailable, will be back soon. Please contact <a href="mailto:support@whyjustrun.ca">support@whyjustrun.ca</a> if it's urgent.</p>

<% else %>
  <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %>
<% end %>
