<div class="form-group">
  <%= f.label :si_number, "SportIdent #", :class => "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.number_field :si_number, :class => 'form-control', :placeholder => "Optional" %>
  </div>
</div>
