<div class="control-group">
  <%= f.label :si_number, "SportIdent #", :class => "control-label" %>
  <div class="controls">
    <%= f.number_field :si_number, :placeholder => "Optional" %>
  </div>
</div>
