# IMPORTANT: If you add/change any privilege, make sure you update the CakePHP config too (app/Config/app.php)
privileges:
  admin:
    page: 90
  club:
    edit: 90
  contentBlock:
    edit: 80
  event:
    delete: 90
    edit: 80
    planning: 80
  map:
    delete: 90
    edit: 80
    viewOCAD: 0
  mapStandard:
    edit: 100
    delete: 100
  membership:
    delete: 80
    edit: 80
  official:
    delete: 90
    edit: 90
  page:
    edit: 80
    delete: 80
  privilege:
    edit: 90
    delete: 90
  resource:
    edit: 80
    index: 80
    delete: 90
  role:
    delete: 100
    edit: 100
  series:
    edit: 90
  user:
    edit: 100
linkableAccounts:
  facebook_id:
    name: "Facebook"
    provider: "facebook"
    column: 'facebook_id'
  google_id:
    name: "Google"
    provider: "google_oauth2"
    column: 'google_id'

host: <%= ENV.fetch('WJR_HOST', 'whyjustrun.ca') %>

databaseName: <%= ENV.fetch('WJR_DATABASE_NAME') %>
databaseHost: <%= ENV.fetch('WJR_DATABASE_HOST') %>
databaseUsername: <%= ENV.fetch('WJR_DATABASE_USERNAME') %>
databasePassword: <%= ENV.fetch('WJR_DATABASE_PASSWORD') %>

# Should be the same as the salt used by CakePHP
passwordSalt: <%= ENV.fetch('WJR_PASSWORD_SALT') %>

secretKeyBase: <%= ENV.fetch('WJR_SECRET_BASE') %>
secretToken: <%= ENV.fetch('WJR_SECRET_TOKEN') %>

deviseSecretKey: <%= ENV.fetch('WJR_DEVISE_SECRET_KEY') %>

facebookAppID: <%= ENV.fetch('WJR_FACEBOOK_APP_ID') %>
facebookAppSecret: <%= ENV.fetch('WJR_FACEBOOK_APP_SECRET') %>

googleAppID: <%= ENV.fetch('WJR_GOOGLE_APP_ID') %>
googleAppSecret: <%= ENV.fetch('WJR_GOOGLE_APP_SECRET') %>

recaptchaSiteKey: <%= ENV.fetch('WJR_RECAPTCHA_SITE_KEY') %>
recaptchaSecretKey: <%= ENV.fetch('WJR_RECAPTCHA_SECRET_KEY') %>

smtpSettings:
  address: <%= ENV.fetch('WJR_SMTP_ADDRESS') %>
  port: 587
  domain: <%= ENV.fetch('WJR_SMTP_DOMAIN') %>
  user_name: <%= ENV.fetch('WJR_SMTP_USER_NAME') %>
  password: <%= ENV.fetch('WJR_SMTP_PASSWORD') %>
  authentication: plain
  enable_starttls_auto: true

dataFolder: <%= ENV.fetch('WJR_DATA_FOLDER') %>
dataURL: <%= ENV.fetch('WJR_DATA_URL') %>
